@model HMS.Areas.Dashboard.ViewModels.AccommodationPackagesListingModel


@{
    ViewBag.Title = "Accommodation Packages";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Accommodation Packages</h2>
        <hr />
    </div>
</div>


<div class="row mb-3">
    <div class="col col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="Search." required value="@Model.SearchTerm">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i> Search</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index","AccommodationPackages")"><i class="fas fa-redo-alt mr-1"></i> Reset</a>
                    <button data-href="@Url.Action("Action","AccommodationPackages")" class="action-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i>Create</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col col-lg-12">
        @Html.Partial("_Listing", Model)

    </div>
</div>


<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>

<script>
    $(document).ready(function () {
        $(".action-btn").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            }).done(function (result) {
                $("#actionModal .model-dialog").html(result);
            });
        });
    });
</script>