@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Accommodation Types</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search.">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-primary" type="button"><i class="fas fa-search mr-1"></i> Search</button>
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-redo-alt mr-1"></i> Reset</button>
                <button data-href="@Url.Action("Action","AccommodationTypes")" class="action-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i>Create</button>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        @Html.Action("Listing")

    </div>
</div>


<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".action-btn").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
            .done(function (result) {
                $("#actionModal .modal-dialog").html(result);
            });
        });
    });
</script>